<h1><%= @user.name %></h1>

<div>
  <h3>Email</h3>
  <p> <%= @user.email %> </p>
  <h3>Phone Number</h3>
  <p> <%= @user.phone_number %> </p>
  <h3>Complaint</h3>
  <p> <%= @user.complaint %> </p>
</div>
