<% if object.errors.any? %>
  <div class="callout alert">
    <h5>The <%= object.class.name.titleize.downcase %> could not be saved.</h5>
    <h6>Please correct the following <%= pluralize(object.errors.count, 'error') %>:</h6>
    <ol>
      <% object.errors.full_messages.each.with_index(1) do |message, i| %>
        <%= "#{i}.  " + message %><br>
      <% end %>
    </ol>
  </div>
<% end %>
