<div class="modal-body">
  <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="modal-style">
	  <%= render partial: 'users/new' %>
  </div>
</div>
