<div class="modal-body">
  <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <header class="container fullwidth heading">
    <h1>Note For <%= record_holders_name @patient_note.patient_record %></h1>
  </header>
  <p><%= @patient_note.notes %></p>
  
  <div>
   <p>
    <%# if is_user_admin? %>
      <%#= link_to "Edit Procedure", edit_procedure_url %>
      <%#= link_to "Delete Procedure", procedure_path(@procedure), method: :delete, data: { confirm: 'Are you sure you want to delete this procedure?' } %>
    <%# end %>
   </p> 
  </div>
</div>

