<h1><%= pluralize(@procedures.size, 'Procedure') %></h1>

<p>
	<ol>
		<% @procedures.each do |proc| %>
			<li>
        <%= link_to proc.name, procedure_path(proc) %> 
			</li>
		<% end %>
	</ol>
</p>

