<div class="container">
  <div class="row text-center text-lg-left">
    <% @procedures.each do |p| %>
      <div class="col-lg-4 col-md-6 col-xs-6">
        <%= link_to p, remote: true, data: { toggle: 'modal', target: 'modal-window' }, class: 'd-block mb-4 h-100' do %>
          <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300">
        <% end %>
      </div>
    <% end %> 
  </div>
  
  <% if is_user_admin?  %>
    <%= link_to "New Procedure", new_procedure_path %>
  <% end %> 

  <div class="jumbotron jumbotron-fluid col-lg-12 custom-jumbotron">
    <div class="container">
      <h1 class="display-12">This Is A Jumbotron</h1>
      <p class="lead">Get started today by creating an account! Look at how nice this jumbotron is!</p>
    </div>
  </div>

</div>
 
 
