input {
  padding: 6px;
}

.fullwidth {
  width: 100%;
}

.heading {
  text-align: center;
  padding-bottom: 15px;
  padding-top: 5px;
}

.required {
  color: red;
  font-size: 15px;
}

.close-modal {
  font-size: 30px;
}
