.sidebar {  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: black;
  opacity: 0.2;
  transition: width 0.3s;
}

.minimized {  
  display: inline-block;
  width: 0;
  padding: 0;
  transition: width 0.3s;
}


