.sidebar {  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: rgba(128, 128, 128, 1.0);
  transition: width 0.3s;
}

.minimized {  
  display: inline-block;
  width: 0;
  padding: 0;
  transition: width 0.3s;
}

