// Place all the styles related to the Procedures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mb-4 {
  margin-bottom: 1.5rem!important;
}

.d-block {
  display: block!important;
}

.h-100 {
  height: 100%!important;
}

.img-thumbnail {
  border: none;
  border-radius: 0px;
}

.custom-jumbotron {
  text-align: center;
  background-color: inherit;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all .2s ease-in-out; 
}

.custom-jumbotron:hover {
  transform: scale(1.05);
}
