// Place all the styles related to the Procedures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mb-4 {
  margin-bottom: 1.5rem!important;
}

.d-block {
  display: block!important;
}

.h-100 {
  height: 100%!important;
}
