<header>
  <h1>Dr. Obaid's Skin, Hair and Nail Clinic</h1>
  <nav style="position: relative;">
  <% if session[:user_id] %>
  <p> 
    <%= link_to user_name(User.find(session[:user_id])), User.find(session[:user_id]) %>
  </p>
  <p>
    <%= link_to 'Sign Out', session_path, method: :delete %>
  </p>
  <%else%>  
  <p>
    <%= link_to 'Sign Up', signup_path %>
  </p>
  <p>
    <%= link_to 'Sign In', new_session_path %>
  </p>
  <% end %>

  </nav>
</header>


