<header>
  <h1>Dr. Obaid's Skin, Hair and Nail Clinic</h1>
  <nav style="position: relative;">
  <p>
    <%= link_to 'Sign Up', signup_path %>
  </p>
  <p>
    <%= link_to 'Sign In', new_session_path %>
  </p>

  </nav>
</header>


