<div class="col-md-3 sidebar minimized" id="sideBar">
  <div class="hamburger hamburger--collapse" id="sideHamburger" style="float: right; position: relative;">
    <div class="hamburger-box">
      <div class="hamburger-inner"></div>
    </div>
  </div>
</div>
