
<div class="data-sticky-container">
  <div class="title-bar" data-sticky data-options="marginTop:0;">
    <div class="title-bar-right">
      <button class="hamburger hamburger--arrow is-active" type="button">  
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
   </div>
</div>
