<aside>
  <div style="float: right;">
    <ul>
      <li>
        <%= link_to 'Procedures', procedures_path %>
      </li>
      <li>
        <%= link_to 'Patients', users_path %>
      </li>
    </ul>
  </div>
</aside>
