<div class="row">
  
  <div class="columns">
    <button class="button" data-open="signInModal">Sign In</button>
    <!-- <button class="button" data-open="signUpModal">Sign Up</button> -->
  </div>

  <div class="reveal" id="signInModal" data-reveal>
    <%= render 'sessions/new' %>
    <button class="close-button" data-close type="button">
      &times;
    </button>
  </div>

  <div class="reveal" id="signUpModal" data-reveal>
    <%#= render template: 'users/new' %>
    <%#= render 'users/new' %>
    <button class="close-button" data-close type="button">
      &times;
    </button>
  </div>

</div>
