<div class="row">
  
  <div class="columns">
    <button class="button" data-open="signInModal">Sign In</button>
    <button class="button" data-open="signUpModal">Sign Up</button>
   </div>

  <div class="reveal" id="signInModal" data-reveal>
    <%= render 'sessions/new' %>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="reveal" id="signUpModal" data-reveal>
    <%= render 'users/testing_new_user' %>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


</div>
